
/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');


/*Background*/


.bgimg{
    background-image: url(images/background/background.png);
    height: 100%;
    width: -moz-fit-content;
    background-attachment: fixed;
}

                                                    /*Navigation bar*/

/*icon*/
.logoChanges{
    margin-left: 400px;
}

/*icon name*/

.logoText{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 40px !important;
    color: rgba(255,255,255,2) !important;
    text-decoration: none !important;
    display: block;
    border-bottom: 3px solid transparent ;
    margin-left: 120px;
}
/*Navigation Menu*/

.nav-custom{
    background-color: rgba(4,119,125,5) !important;
    overflow: auto;
}

.navCustom2 a{
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    display: block;
    border-bottom: 3px solid transparent;
    border-spacing: 30px;
    font-family:'Baloo Paaji 2', cursive;
    font-size: 23px;
}

.navCustom2 a:hover{
    color: rgba(255,255,255,2);
    border-bottom: 3px solid rgb(255,205,6);
}
.navCustom2 a:active{
    border-bottom: 3px solid rgb(255,205,6);
}

.navbar-toggler-icon{
    background-image: url(images/navBar.png) !important;
}


/*#subscribe{*/
/*    background-color: rgba(255,205,6,3);*/
/*    color: rgba(82,67,35,3);*/
/*    padding: 1px 8px;*/
/*    border-radius: 4px 4px 4px 4px;*/
/*    text-decoration: none !important;*/
/*}*/

/*#subscribe:hover{*/
/*    background-color: rgba(255,255,255,2);*/
/*}*/
                                                    /*Name And About*/

/*mysection*/

.mySection{
    padding: 170px 20px 20px;
    height: 100%;
    width: 100%;
}


/*Name*/

.name{
    color: rgba(4,119,125,5);
    font-family:'Baloo Paaji 2', cursive;
    font-size: 80px;
}

/*Position*/


.myPosition{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 35px;
    color: rgba(82,67,42,3);
}
/*about me*/


.aboutMe{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 25px;
    color: rgba(82,67,42,3);
    alignment: center;
    padding: 1px 10px;
}
/*know more button*/

.knowMore{
    background-color: rgba(4,119,125,5);
    color: rgba(251,252,246,1);
    padding: 14px 50px;
    text-decoration: none !important;
}
.knowMore:hover{
    background-color: rgba(0,97,100,1);
    color: rgba(251,252,246,1);
    text-decoration: none !important;
}

/*Lotti image*/

.lotti1{
    padding: 80px 3px 30px;
}

/*tag line*/

.tagLine{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 40px;
    color: rgba(82,67,35,3);
    padding: 2px 80px 2px !important;
}




                                            /*my achievements*/


.certificate{
    background-color: rgba(255,255,255,1);
    padding: 50px 30px 50px;
    background-attachment: fixed;

}



/*Title*/
.certificate h1 {
    font-family:'Baloo Paaji 2', cursive;
    font-size: 60px;
    color: rgba(82,67,35,3);
    padding: 20px 80px 60px !important;
}

.certify{
    padding: 100px 50px 100px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
}

.certificate h2{
    color: rgba(0,106,181,1);
    font-family:'Baloo Paaji 2', cursive;
    font-size: 60px;

}

.certificate h3{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 20px;
    color: rgba(82,67,35,3);
    padding: 25px 50px 25px;
    text-align: justify;
}

/*Full section configuration*/

.myAchievements{
    width: 100%;
    height: 100%;
    background-image: url(images/background/background2.png);
    background-attachment: fixed;
    padding-bottom: 100px;
    padding-top: 100px;
}

/*card style*/

.skill{
    height: 300px;
    width: 240px;

}

.badges{
    padding:  20px 60px 20px;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
}

/*badge heading*/

.myAchievements h2{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 40px;
    color: rgba(82,67,35,3);
}

.myAchievements h5{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 50px;
    color: rgba(255,205,6,3);
    padding: 20px 70px 20px;
}

.myAchievements h4{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 20px;
    color: rgba(255,255,255,3);
    padding: 20px 70px 20px;
    text-align: justify;
}

.myAchievements h3{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 15px;
    color: rgba(82,67,35,3);
}

#asia{
    padding-right: 100px;
}

#knowMore2{
    background-color: rgba(255,205,6,3);
    color: rgba(82,67,35,3);
    padding: 8px 18px !important;
    display: inline-block;
    text-decoration: none !important;
}

#knowMore2:hover{
    background-color: rgba(255,255,255,3);
}

.youtube{
    background-image: url(images/background/background3.png);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    padding: 100px 70px 100px;
}

.youtube h2{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 60px;
    color: rgba(255,205,6,3);
    padding: 20px 30px 5px;
}

.youtube h3{
    color: rgba(255,255,255,1);
    font-family:'Baloo Paaji 2', cursive;
    font-size: 50px;
    padding: 5px 30px 10px 80px;
}

.youtube a{
    background-color: rgb(255,205,6);
    color: rgba(82,67,35,3);
    padding: 14px 50px;
    text-decoration: none !important;
    margin-left: 250px;
}

.youtube a:hover{
    background-color: rgba(255,255,255,3);
}



#animation{
    background-color: rgba(255,255,255,3);
}

.bgimg2{
    background-image: url(images/background/background.png);
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

.socialMedia{
    padding: 100px 100px 80px;
}

#reachMe{
    color: rgba(4,119,125,5);
    font-family:'Baloo Paaji 2', cursive;
    font-size: 60px;
}
#reachMe2{
    color: rgba(82,67,35,3);
    font-family:'Baloo Paaji 2', cursive;
    font-size: 40px;
}

#imgSetting1{
    float: right;
}

#imgSetting2{
    float: contour;
    padding-left: 50px;
}
#imgSetting3{
    float: left;
}

.subscribe{
    width: 100%;
    height: 100%;
    background-image: url(images/background/background2.png);
    background-attachment: fixed;
    padding-bottom: 200px;
    padding-top: 200px;
}

.subscribe h2{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 50px;
    color: rgba(255,205,6,3);
    padding-bottom: 30px;
}
.subscribe h3{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 30px;
    color: rgba(255,255,255,3);
    padding-bottom: 60px;
}
.subscribe a{
    background-color: rgb(255,205,6);
    color: rgba(82,67,35,3);
    padding: 14px 50px;
    text-decoration: none !important;
    margin-left: 600px;
}




.madeWith{
    font-family:'Baloo Paaji 2', cursive;
    font-size: 40px;
    padding: 100px 10px 100px;
}

.bigimg3{
    width: 100%;
    height: 100%;
    background-image: url(images/background/background2.png);
    background-attachment: fixed;
    padding-bottom: 100px;
    padding-top: 100px;
}



/**********************************************************************************************************/


@media (min-width: 992px) {

}


@media (min-width: 768px) and (max-width: 991px) {

}



@media (min-width: 575px) and (max-width: 767px) {

}



@media (min-width: 480px) and (max-width: 574px) {

}



@media (max-width: 478px) {
    .logoChanges{
        margin-left: 10px;
    }
    .logoText{
        font-family:'Baloo Paaji 2', cursive;
        font-size: 40px !important;
        color: rgba(255,255,255,2) !important;
        text-decoration: none !important;
        display: block;
        border-bottom: 3px solid transparent ;
        margin-left: 20px;
    }

    .name{
        font-size: 50px;
    }
    #lotti1{
        height: 100% !important;
        width: 100% !important;
        margin-left: 40px !important;
    }


    .certificate h1{
        font-size: 35px;
        padding: 10px 5px 10px;
    }
    .certify{
        padding: 10px 20px 10px;
    }
    .certificate h2{
        font-size: 35px;
        padding-top: 40px;
    }
    .certificate h3{
        font-size: 12px;
    }

    .badges{
        padding:  10px 5px 10px;
    }

    .myAchievements h2{
        font-size: 35px;
    }
    .myAchievements h5{
        font-size: 35px;
        display: inline;
        padding: 50px 10px 10px 10px;
    }
    .myAchievements h4{
        font-size: 12px;
        padding: 10px 10px 10px 10px;
    }
    #asia{
        padding: 10px 10px 10px 10px;
    }
    #knowMore2{
        padding: 5px 11px 11px 5px;
        margin-top: 50px;
        display: inline;
        padding: 10px;
    }
    #lotiianim{
        height: 100% !important;
        width: 100% !important;
    }
    #youiframe{
        height: 100% !important;
        width: 100% !important;
    }
    #chanel{
        font-size: 25px;
        display: inline !important;
        padding: 1px 1px 1px 1px;
        margin: 1px 1px;
    }

    .youtube{
        background-image: url(images/background/background3.png);
    }
    .youtube h2{
        font-size: 40px;
        padding: 10px 10px 10px 10px;
    }
    .youtube h3{
        padding: 10px 11px 11px 10px;
        margin-left: 2px;
        display: inline;
        font-size: 30px;
    }

    .youtube a{
        /*padding: 10px 11px 11px 10px;*/
        margin-left: 18px;
        margin-top: 50px;
    }

    .bgimg2{
        padding-bottom: 80px;
    }
    .socialMedia h1{
        font-size: 30px !important;
    }

    .socialMedia h2{
        font-size: 20px !important;
    }

    #lotti2{
        height: 195px !important;
        width: 195px !important;
        margin-right: 35px;
    }
    #lotti3{
        height: 100% !important;
        width: 100% !important;
    }
    #lotti4{
        height: 160px !important;
        width: 160px !important;
        margin-left: 100px;
    }

    .subscribe h2{
        font-size: 30px;
    }
    .subscribe h3{
        font-size: 20px;
    }
    .subscribe a{
        margin-left: 60px;
    }

    .madeWith p5{
        font-size: 20px;
    }
    #loti5{
        height: 100% !important;
        width: 100% !important;
    }


}